.clsLoginContainer{
	padding: 5%;
}
.loginModal{
    background:none;
	background:rgb(58,74,100);
	background-size:100% 100%;
}
.clsLogintitle{
	text-align: center;
    font-size: 27px;
    color: #fff;
    padding-top: 30%;
}
.clsRegistertitle{
	text-align: center;
    font-size: 27px;
    color: #fff;
    padding-top: 10%;
}
.clsInputRow{
	padding: 1em 1.5em;
    margin-top:20%;
}
.clsRegisterRow{
	padding: 1em 1.5em;
    margin-top:5%;
}
.clsLoginInput{
	background: transparent;
	display: inline-block!important;
    margin-top: 0.3em;
	margin-left: 0.5em;
	color: #fff !important;
	width:80%;
}
.clsloginicon{
	position:relative;
	top:3px;
	color:#ccc;
}
.clsUserRow{
	border-bottom: 1.5px solid #ccc !important;
	width:100%;
	display:inline-block;
	margin-top:5%;
}
.password::-webkit-input-placeholder,.user::-webkit-input-placeholder {
   color: #ccc;
}
.clsPlaceholder::-webkit-input-placeholder{
	color:#696969;
}
.clsInputText{
	width:100%;
}
.clsInputText::-webkit-input-placeholder{
	text-align:center;
}
.clsFormList a{
	color:#696969;
	font-size:14px;
}
.clsFormList .icon{
	font-size: 17px;
}
.clsLoginBtn{
	border-color: transparent;
    background-color: #51c5d0;
    color: #fff;
	margin:0 auto;
    margin-top: 32% !important;
    border-radius: 5px!important;
	cursor:pointer;
	width:80%!important;
	
}
.clsNewUserBtn{
	border-color: transparent;
    background-color: #51c5d0;
    color: #fff;
	margin:0 auto;
    border-radius: 5px!important;
	cursor:pointer;
	width:80%!important;
	
}
.clsRegisterBtn{
	border-color: transparent;
    background-color: #51c5d0;
    color: #fff;
	margin:0 auto;
    margin-top: 10% !important;
    border-radius: 5px!important;
	cursor:pointer;
	width:80%!important;
	
}
.clsFormBtn{
	border-color: transparent;
    background-color: #51c5d0;
    color: #fff;
	margin:0 auto;
    margin-top: 32% !important;
    border-radius: 5px!important;
	cursor:pointer;
	width:80%!important;
	
}
.clsSearchDocBtn{
	border-color: transparent;
    background-color: #51c5d0;
    color: #fff;
	margin:0 auto;
    border-radius: 5px!important;
	min-height: 35px!important;
    line-height: 1;
	
}
.clsSubmitBtn{
	border-color: transparent;
    background-color: #51c5d0;
    color: #fff;
	margin:0 auto;
    margin-top: 10% !important;
    border-radius: 5px!important;
	cursor:pointer;
	width:80%!important;
}
.clsforgotPass{
	text-align: center;
    /*color: #e5e5e5;*/
    color: #ccc;
	cursor:pointer;
    margin-top: 19%;
}
.clsShowPass{
	position:relative;
	float: right;
    top: 14px;
	color:#ccc;
}
.fa-mobile-phone{
	font-size: 18px;
    top: 6px;
}
.clsUserProfile{
	background:rgb(58,74,100);
	color:#efefef;
	border-bottom:1px solid #888 !important;
}
.clsProfileImg{
	position: relative;
	background: url(../img/user-default.png);
    background-size: 100% 100%;
    width: 50%;
    height: 68px;
    border-radius: 59px;
    top: 10px;
    left: 15px;
    
}
.clsMenuHeader h1{
	color:white !important;
}
.clsMenuBody{
	background:rgb(58,74,100);
}
.clsMenuBody .item ,.clsMenuBody .item-complex .item-content{
	background:0 !important;
	
}
.clsMenuItem{
	border-bottom:1px solid #888 !important;
	border:1px;
	color:#efefef;
}
.clsViewHeader,ion-header-bar{
	background:rgb(58,74,100) !important;
	color:#fff!important;
}
ion-header-bar .title,ion-header-bar .header-item{
	color:#fff!important;
}
.clsMenuBtn{
	color:#fff;
}
.clsProfileTxt{
	border-bottom:1px solid rgb(58,74,100) !important;
	border:1px;
}
.clsMenuIcon{
	margin-right:7%;
}
.clsUserName{
	color: #fff;
    border: 0;
    margin-top: 6px;
}
.clsProfileEdit{
	position: relative;
    top: 9px;
    margin-right: 5%;
    font-size: 15px;
}
.clsSelectedList{
	font-size: 18px;
	font-style: italic;
}
#file{
	display:none;
}
.clsComplainBtn .button.active{
	 background-color: #51c5d0!important;
	 color:#fff;
	 border-radius:0;
	 border:none;
	 font-weight:bold;
}
.center{
	text-align:center;
}
.clsComplainBtn .button.activated{
	 background-color: #51c5d0!important;
	 color:#fff;
	 border-radius:0;
	 border:none;
}
.clsTable .row{
	border-bottom:1px solid #ddd;
	padding-top: 15px;
    padding-bottom: 15px;
}
.clspendingOutTable .row{
	border-bottom:1px solid #ddd;
	padding-bottom: 0px;
}
.clsTable .row .col{
	padding:0px !important;
}
.clsMedTable{
	max-height: 150px;
    overflow: auto;
}
.clsDivider{
	width: 100%;
    height: 1px;
    background: #ddd;
    margin-bottom: 5px;
    margin-top: 5px;
}
.clsPagetxt{
	font-weight:500;
}
.clsPageVal{
	color:#333;
}
.clsComplaintDetails .row{
	padding: 0px 5px 0px 5px;
    font-size: 13px;
}
.clsPageHeader{
	color:#51c5d0;
	text-align:center;
	
}
.clsTableHeader .col{
	font-size:12px;
}
.clsTableHeader{
	padding-top:5px!important;
	padding-bottom:5px!important;
}
.clsTableicons{
	font-size:18px !important;	
}
.ion-ios-checkmark-outline{
	color:green;
}
.ion-ios-close-outline{
	color:red;
}
.clsDays{
	font-weight:bold;
}
.clsTestRow{
	border-bottom: 1px solid #ddd;
    background: #ddd;
    font-weight: 500;
}
.clsFees{
	font-size:13px;
	color:red;
	border-bottom:1px solid #ddd;
	font-weight:500;
	padding-top:5px !important;
}
.clsNoPadMar{
	padding:0!important;
	margin:0!important;
}
.clsCompBtn{
	border-color: transparent;
    background-color: #51c5d0;
    color: #fff;
	margin:0 auto;
    margin-top: 5% !important;
    border-radius: 5px!important;
	cursor:pointer;
	width:80%!important;
}
.clsConstantHeader{
	border-top:1px solid #ddd;
}
.clsNil{
	color: #d22b2b;
    font-weight: 500;
}
.clsBold{
	font-weight: 500;
}
.clsDate{
	display: inline-block;
    position: absolute;
    top: 5%;
    right: 0;
}
.clsRegisterInfo{
    color: #ccc;
    padding-top: 18px;
    font-size: 13px;
}
.clsProfileheader{
	margin-bottom: 6%;
    border-bottom: 2px solid #ccc;
}
.clsProfileChangePassBtn{
	top: 30px;
    position: relative;
    left: 32px
}
.clsMenuProfile{
	border:0;
}
.clsSearchDocList .item-left-editable .item-content{
	padding:0px !important;
}
.select_button{
	color: #fff!important;
    font-weight: 400!important;
}
.ion-checkbox .item{
	border-width:0px!important;
}
.item-left-edit .button.icon{
	padding:0px;
	left:-6px;
}
.clsCheckMarkBtn{
	z-index: 99;
    position: absolute;
    color: #51c5d0;
    bottom: 44px;
    left: 30%;
}
.clsCancelBtn{
	z-index: 99;
    position: absolute;
    color: red;
    bottom: 44px;
    left: 55%;
}
.larger:before{
	font-size:50px !important;
}
.clsaddPatientImg{
	left:25%;
}
.clstitle{
	color:#ccc;
	font-size:25px;
	line-height:1.1;
	text-align:center;
	margin-top:30px;
}
.clsOpdDetails{
	 margin-top: 6%;
}
.clsOpdDetails .row{
	    padding: 0px 5px 10px 5px;
}
.clsMedTimeSelected{
	color:green;
}
.clsMedTimeNotSelected{
	color:black;
}
.
.ion-ios-checkmark-outline{
	color:green;
}