<ion-modal-view class="loginModal">
  <ion-content>
    <div class="clsLoginContainer">
		<div class="title clsLogintitle">Change Password</div>
		<div class="clsInputRow">
			<div class="clsUserRow">
			  <i class="fa fa-key clsloginicon"  aria-hidden="true"></i></i><input ng-model="changepass.oldpassword" type="password" class="clsLoginInput" name="Password" placeholder="Old Password" required=""><i class="fa fa-eye clsShowPass" ng-click="showPass()" aria-hidden="true"></i>
			</div>
			<div class="clsUserRow">
			  <i class="fa fa-key clsloginicon" aria-hidden="true"></i></i><input  ng-model="changepass.newpassword"  type="password" class="clsLoginInput" name="Password" placeholder="New Password" required=""><i class="fa fa-eye clsShowPass" ng-click="showPass()" aria-hidden="true"></i>
			</div>
			<div class="clsUserRow">
			    <i class="fa fa-key clsloginicon"  aria-hidden="true"></i></i><input type="password" ng-model="rePass" class="clsLoginInput" name="Password" placeholder="Retype Password" required=""><i class="fa fa-eye clsShowPass" ng-click="showPass()" aria-hidden="true"></i>
			</div>
			<button class="button button-full clsLoginBtn" ng-click="submitPass(changepass,rePass)">
			 SUBMIT
			</button>
	    </div>
	</div>
  </ion-content>
</ion-modal-view>