<ion-view view-title="OPD Details">
 <ion-nav-bar class="clsViewHeader">
	  <ion-nav-buttons side="left">
	   <!-- Toggle left side menu -->
	    <ion-nav-back-button></ion-nav-back-button>
	  </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
		<div class="clsComplaintDetails clsOpdDetails">
			<div class="row">
					<div class="col-50">
						<span class="clsPagetxt">Complaint ID:</span><span class="clsPageVal"> ID01</span>
					</div>
					<div class="col-50">
					  <span class="clsPagetxt">Status:</span> <span class="clsPageVal"> Pending</span>
					</div>
			</div>
			<div class="row">
					<div class="col-50">
						<span class="clsPagetxt">Patient Name:</span> <span class="clsPageVal">Arun Verma</span>
					</div>
					<div class="col-50">
						<span class="clsPagetxt">Date:</span> <span class="clsPageVal"> 20/08/2016</span>
					</div>
			</div>
			<div class="clsDivider"></div>
			<div class="row">
					<div class="col">
						<span class="clsPagetxt">Body Part:</span><span class="clsPageVal"> </span>
					</div>
					<div class="col">
					  <span class="clsPageVal">Hand, Leg, Stomach</span>
					</div>
			</div>
			<div class="row">
					<div class="col">
						<span class="clsPagetxt">Symptom List:</span>
					</div>
					<div class="col">
					  <span class="clsPageVal">Pain</span>
					</div>
			</div>
			<div class="row">
					<div class="col">
						<span class="clsPagetxt">Description:</span>
					</div>
					<div class="col">
					  <span class="clsPageVal">My left Hand is paining too much</span>
					</div>
			</div>
			<div class="row">
					<div class="col">
						<span class="clsPagetxt">Current Medicine:</span>
					</div>
					<div class="col">
					  <span class="clsPageVal">None</span>
					</div>
			</div>
			<button class="button button-full clsCompBtn" ng-click="diagnosis()">
				 Reply With Diagnosis
			</button>
		</div>
	
  </ion-content>
</ion-view>
