<ion-view view-title="Change Password">
 <ion-nav-bar class="clsViewHeader">
	  <ion-nav-buttons side="left">
	   <!-- Toggle left side menu -->
	    <ion-nav-back-button></ion-nav-back-button>
	  </ion-nav-buttons>
	  
  </ion-nav-bar>
  <ion-content>
<div class="clsInputRow">
			<div class="clsUserRow">
			  <i class="fa fa-key clsloginicon"  aria-hidden="true"></i></i><input ng-model="changepass.oldpassword" type="password" class="clsLoginInput" name="Password" placeholder="Old Password" required=""><i class="fa fa-eye clsShowPass" ng-click="showPass()" aria-hidden="true"></i>
			</div>
			<div class="clsUserRow">
			  <i class="fa fa-key clsloginicon" aria-hidden="true"></i></i><input  ng-model="changepass.newpassword"  type="password" class="clsLoginInput" name="Password" placeholder="New Password" required=""><i class="fa fa-eye clsShowPass" ng-click="showPass()" aria-hidden="true"></i>
			</div>
			<div class="clsUserRow">
			    <i class="fa fa-key clsloginicon"  aria-hidden="true"></i></i><input type="password" ng-model="rePass" class="clsLoginInput" name="Password" placeholder="Retype Password" required=""><i class="fa fa-eye clsShowPass" ng-click="showPass()" aria-hidden="true"></i>
			</div>
			<button class="button button-full clsLoginBtn" ng-click="submitPass(changepass,rePass)">
			 SUBMIT
			</button>
	    </div>
  </ion-content>
</ion-view>
